<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="<%= require('./icon.svg') %>" />
    <title>Configure Cloud</title>
    <meta name="description" content="Configure Cloud" />
    <meta name="theme-color" content="#42e3ff" />
  </head>
  <body>
    <nav>
      <h1>Configure Cloud</h1>
      <a href="https://github.com/mkoertgen/hello.moncao" class="nav-icon" title="View on GitHub">
        <img
          alt="GitHub icon"
          height="32"
          src="<%= require('@fortawesome/fontawesome-free/svgs/brands/github.svg') %>"
          width="32"
        />
      </a>
    </nav>
    <main>
      <div id="breadcrumbs"></div>
      <div id="editor"></div>
      <div id="problems"></div>
    </main>
  </body>
</html>
